<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Interests</title>
    </head>

    <body>
        <h1>Interests</h1>

        <form method="post" action="#">
            <!-- optional -->
            <p>In-door Interests<br>
                <repeat group="{{ @indoorOptions }}" value="{{ @option }}">
                    <label><input type="checkbox" name="indoorInterests[]" value="{{ @option }}"
                        <check if="{{ !empty(@indoorInterests) && in_array(@option, @indoorInterests) }}">
                            checked = "checked"
                        </check>
                        >{{ @option }}
                    </label>
                </repeat>
            </p>

            <!-- optional -->
            <p>Out-door Interests<br>
                <repeat group="{{ @outdoorOptions }}" value="{{ @option }}">
                    <label><input type="checkbox" name="outdoorInterests[]" value="{{ @option }}"
                        <check if="{{ !empty(@outdoorInterests) && in_array(@option, @outdoorInterests) }}">
                            checked = "checked"
                        </check>
                        >{{ @option }}
                    </label>
                </repeat>
            </p>

            <input type="submit" name="interests-submit" value="Next">
        </form><br>

        <!-- for checking purpose -->
        first name: {{ $_SESSION['fname'] }} <br>
        first name: {{ $_SESSION['membership']->getFirstName() }} <br><br>

        last name: {{ $_SESSION['lname'] }} <br>
        last name: {{ $_SESSION['membership']->getLastName() }} <br><br>

        age: {{ $_SESSION['age'] }} <br>
        age: {{ $_SESSION['membership']->getAge() }} <br><br>

        gender: {{ $_SESSION['gender'] }} <br>
        gender: {{ $_SESSION['membership']->getGender() }} <br><br>

        phone: {{ $_SESSION['phone'] }} <br>
        phone: {{ $_SESSION['membership']->getPhone() }} <br><br>

        email: {{ $_SESSION['email'] }} <br>
        email: {{ $_SESSION['membership']->getEmail() }} <br><br>

        state: {{ $_SESSION['state'] }} <br>
        state: {{ $_SESSION['membership']->getState() }} <br><br>

        seeking: {{ $_SESSION['seeking'] }} <br>
        seeking: {{ $_SESSION['membership']->getSeeking() }} <br><br>

        bio: {{ $_SESSION['bio'] }} <br>
        bio: {{ $_SESSION['membership']->getBio() }} <br>
    </body>
</html>


