<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Interests</title>
    </head>

    <body>
        <h1>Interests</h1>

        <form method="post" action="#">
            <!-- optional -->
            <p>In-door Interests<br>
                <!--
                <input type="checkbox" name="indoor-interests[]" value="tv">tv
                <input type="checkbox" name="indoor-interests[]" value="movies">movies
                <input type="checkbox" name="indoor-interests[]" value="cooking">cooking
                <input type="checkbox" name="indoor-interests[]" value="board-games">board games
                <input type="checkbox" name="indoor-interests[]" value="puzzles">puzzles
                <input type="checkbox" name="indoor-interests[]" value="reading">reading
                <input type="checkbox" name="indoor-interests[]" value="playing cards">playing cards
                <input type="checkbox" name="indoor-interests[]" value="video games">video games
                -->
                <repeat group="{{ @indoorOptions }}" value="{{ @option }}">
                    <label><input type="checkbox" name="indoor[]" value="{{ @option }}"
                        <check if="{{ !empty(@indoorInterests) && in_array(@option, @indoorInterests) }}">
                            checked = "checked"
                        </check>
                        >{{ @option }}
                    </label>
                </repeat>
            </p>

            <!-- optional -->
            <p>Out-door Interests<br>
                <!--
                <input type="checkbox" name="outdoor-interests[]" value="hiking">hiking
                <input type="checkbox" name="outdoor-interests[]" value="biking">biking
                <input type="checkbox" name="outdoor-interests[]" value="swimming">swimming
                <input type="checkbox" name="outdoor-interests[]" value="collecting">collecting
                <input type="checkbox" name="outdoor-interests[]" value="walking">walking
                <input type="checkbox" name="outdoor-interests[]" value="climbing">climbing
                -->
                <repeat group="{{ @outdoorOptions }}" value="{{ @option }}">
                    <label><input type="checkbox" name="outdoor[]" value="{{ @option }}"
                        <check if="{{ !empty(@outdoorInterests) && in_array(@option, @outdoorInterests) }}">
                            checked = "checked"
                        </check>
                        >{{ @option }}
                    </label>
                </repeat>
            </p>

            <input type="submit" name="submit" value="Next">
        </form><br>

        <!-- for checking purpose -->
        first name: {{ $_SESSION['membership']->getFirstName() }} <br>
        last name: {{ $_SESSION['membership']->getLastName() }} <br>
        age: {{ $_SESSION['membership']->getAge() }} <br>
        gender: {{ $_SESSION['membership']->getGender() }} <br>
        phone: {{ $_SESSION['membership']->getPhone() }} <br><br>

        email: {{ $_SESSION['membership']->getEmail() }} <br>
        state: {{ $_SESSION['membership']->getState() }} <br>
        seeking: {{ $_SESSION['membership']->getSeeking() }} <br>
        bio: {{ $_SESSION['membership']->getBio() }} <br>
    </body>
</html>


