<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Personal Info</title>
    </head>

    <body>
        <h1>Personal Information</h1>

        <form method="post" action="profile_form">
            <label>First Name
                <input type="text" name="fname">
            </label><br>

            <label>Last Name
                <input type="text" name="lname">
            </label><br>

            <label>Age
                <input type="text" name="age">
            </label><br>

            <label>Gender
                <input type="radio" name="gender" value="male">Male
                <input type="radio" name="gender" value="female">Female
            </label><br>

            <label>Phone Number
                <input type="text" name="phone">
            </label><br>

            <input type="submit" value="Next">
        </form>
    </body>
</html>



