<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
        <style>
            .err {
                color: red;
            }
        </style>
    </head>

    <body>
        <h1>Profile</h1>

        <form method="post" action="#">
            <!-- required -->
            <label>Email
                <input type="text" name="email" value="{{ @email }}">
            </label>
            <check if="{{ @errors['email'] }}">
                <span class="err">{{ @errors['email'] }}</span>
            </check><br>

            <!-- optional -->
            <label>State
                <select name="state">
                    <repeat group="{{ @stateOptions }}" value="{{ @option }}">
                        <option value="{{ @option }}"
                            <check if="{{ @option == @state }}">
                                selected = "selected"
                            </check>
                        >{{ @option }}</option>
                    </repeat>
                </select>
            </label>
            <check if="{{ @errors['state'] }}">
                <span class="err">{{ @errors['state'] }}</span>
            </check><br>

            <!-- optional -->
            Seeking
            <repeat group="{{ @seekingGenderOptions }}" value="{{ @option }}">
                <label><input type="radio" name="seeking" value="{{ @option }}"
                    <check if="{{ @option == @seeking }}">
                        checked = "checked"
                    </check>
                    >{{ @option }}
                </label>
            </repeat><br>

            <!-- optional -->
            <label>Biography
                <textarea name="bio">{{ @bio }}</textarea><br>
            </label>

            <input type="submit" name="profile-submit" value="Next">
        </form><br>

        <!-- info from the previous page -->
        first name(hive): {{ @fname }} <br>
        first name(variable): {{ $_SESSION['fname'] }} <br>
        first name(object): {{ $_SESSION['membership']->getFirstName() }} <br><br>

        last name(hive): {{ @lname }} <br>
        last name(variable): {{ $_SESSION['lname'] }} <br>
        last name(object): {{ $_SESSION['membership']->getLastName() }} <br><br>

        age(hive): {{ @age }} <br>
        age(variable): {{ $_SESSION['age'] }} <br>
        age(object): {{ $_SESSION['membership']->getAge() }} <br><br>

        gender(hive): {{ @gender }} <br>
        gender(variable): {{ $_SESSION['gender'] }} <br>
        gender(object): {{ $_SESSION['membership']->getGender() }} <br><br>

        phone(hive): {{ @phone }} <br>
        phone(variable): {{ $_SESSION['phone'] }} <br>
        phone(object): {{ $_SESSION['membership']->getPhone() }} <br><br>

        premium(hive):
        <check if="{{ @premium == 'yes' }}">
            <true>yes</true>
            <false>no</false>
        </check><br>
        premium(variable):
        <check if="{{ $_SESSION['premium'] == 'yes' }}">
            <true>yes</true>
            <false>no</false>
        </check><br>
        premium(object):
        <check if="{{ $_SESSION['membership'] instanceof PremiumMember }}">
            <true>yes</true>
            <false>no</false>
        </check><br>
    </body>
</html>
