<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
        <style>
            .err {
                color: red;
            }
        </style>
    </head>

    <body>
        <h1>Profile</h1>

        <form method="post" action="#">
            <!-- required -->
            <label>Email
                <input type="text" name="email" value="{{ @email }}">
            </label>
            <check if="{{ @errors['email'] }}">
                <span class="err">{{ @errors['email'] }}</span>
            </check><br>

            <!-- optional -->
            <label>State
                <!-- <input type="text" name="state" value="{{ @state }}"> -->
                <select name="state">
                    <repeat group="{{ @stateOptions }}" value="{{ @option }}">
                        <option value="{{ @option }}"
                            <check if="{{ @option == @state }}">
                                selected = "selected"
                            </check>
                        >{{ @option }}</option>
                    </repeat>
                </select>
            </label>
            <check if="{{ @errors['state'] }}">
                <span class="err">{{ @errors['state'] }}</span>
            </check><br>

            <!-- optional -->
            Seeking
            <repeat group="{{ @seekingOptions }}" value="{{ @option }}">
                <label><input type="radio" name="seeking" value="{{ @option }}"
                    <check if="{{ @option == @seeking }}">
                        checked = "checked"
                    </check>
                    >{{ @option }}
                </label>
            </repeat><br>

            <!-- optional -->
            <label>Biography
                <textarea name="bio">{{ @bio }}</textarea><br>
            </label>

            <input type="submit" value="Next">
        </form><br>

        <!-- for checking purpose -->
        first name: {{ $_SESSION['fname'] }} <br>
        last name: {{ $_SESSION['lname'] }} <br>
        age: {{ $_SESSION['age'] }} <br>
        gender: {{ $_SESSION['gender'] }} <br>
        phone: {{ $_SESSION['phone'] }} <br>
    </body>
</html>
